/* ------------------------------ TEMPLATE ------------------------------ */

.elio-react-components.Template__SidePanel {
  width: 100%;
  height: 100%;

  display: flex;


  --open-width: 300px;
  --closed-width: 50px;
  --ico-width: 30px;


}

.elio-react-components.Template__SidePanel>main {

  flex: 1;
  max-height: 100dvh;
  overflow-y: auto;

}

/* ------------------------------ SIDEPANEL ------------------------------ */


.elio-react-components.Template__SidePanel .Sidepanel {
  width: 85px;
  min-width: 85px;
  height: 100dvh;
  z-index: 15;
  border-right: 1px solid rgba(51, 51, 51, 0.2);

  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;

  transition: width 0.5s ease;

  overflow-x: hidden;
  overflow-y: hidden;
  flex-shrink: 0;

  background-color: white;
  color: #333;

  padding-bottom: 2rem;
  padding-top: 2rem;
}

.elio-react-components.Template__SidePanel .Sidepanel.extended {
  width: 210px;
}

.elio-react-components.Template__SidePanel .Sidepanel__scrollableColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  flex: 1;
  padding: 0;
}




/* NAV */
.elio-react-components.Template__SidePanel .Sidepanel__footer,
.elio-react-components.Template__SidePanel .Sidepanel__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
}

/* FOOTER */
.elio-react-components.Template__SidePanel .Sidepanel__footer {
  margin-top: 2rem;
}

@media (max-height: 800px) {

  .elio-react-components.Template__SidePanel .Sidepanel__list,
  .elio-react-components.Template__SidePanel .Sidepanel__footer {
    gap: 1.4rem;
  }

}


.elio-react-components.Template__SidePanel .Sidepanel__version {
  font-size: 10px
}































/* ------------------------------ SIDEPANEL OPTION ------------------------------ */


.elio-react-components.Template__SidePanel .Sidepanel__option {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  /* gap between Parent option and suboptions */
  gap: 1rem;
  width: 100%;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.elio-react-components.Template__SidePanel .Sidepanel__option:has(>.Sidepanel__option__options.hide) {
  gap: 0;
  /* when closend hide gap */
}

.elio-react-components.Template__SidePanel .Sidepanel__option__icon {
  width: 20px;
  height: 20px;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;

  fill: none !important;
}

.elio-react-components.Template__SidePanel .Sidepanel__subOption .content,
.elio-react-components.Template__SidePanel .Sidepanel__option .content {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.elio-react-components.Template__SidePanel .Sidepanel__subOption.selected .Sidepanel__option__border,
.elio-react-components.Template__SidePanel .Sidepanel__option.selected .row .Sidepanel__option__border {
  min-width: 8px;
  height: 23px;
  background-color: black;
  border-radius: 5px 0 0 5px;
  right: 0;
}


.elio-react-components.Template__SidePanel .Sidepanel__subOption .Sidepanel__text,
.elio-react-components.Template__SidePanel .Sidepanel__option .Sidepanel__text {
  /* position: absolute; */
  left: 70px;
  font-size: 15px;
  font-weight: 500;

  /* no wrap */
  white-space: nowrap;

  transition: all 0.4s ease-in;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -ms-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
}

.elio-react-components.Template__SidePanel .Sidepanel__text.hide {
  /* hide text with transition*/
  color: transparent;
}



.elio-react-components.Template__SidePanel .Sidepanel__subOption,
.elio-react-components.Template__SidePanel .Sidepanel__option .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 31px;
  width: 100%;
  opacity: 0.6;


  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.elio-react-components.Template__SidePanel .Sidepanel__subOption:hover,
.elio-react-components.Template__SidePanel .Sidepanel__subOption.selected,
.elio-react-components.Template__SidePanel .Sidepanel__option.selected .row,
.elio-react-components.Template__SidePanel .Sidepanel__option .row:hover {
  opacity: 1;
}







/* ----------------------------- SIDE PANEL SUBOPTIONS --------------------------------- */

.elio-react-components.Template__SidePanel .Sidepanel__option__options {
  width: 100%;
  max-height: 1000px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  margin-bottom: 0px;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;

  overflow: hidden;

  font-size: 15px;
  font-weight: 500;

}

.elio-react-components.Template__SidePanel .Sidepanel__option__options.hide {
  max-height: 0;
  /* TODO animate */
}

.elio-react-components.Template__SidePanel .Sidepanel__subOption {
  padding-left: 50px;
}



/* ------------------------------ PHONE RESPONSIVE ------------------------------ */
@media (max-width: 768px) {
  .elio-react-components.Template__SidePanel .Sidepanel {

    width: 50px;
    min-width: 50px;
  }

  .elio-react-components.Template__SidePanel .Sidepanel__option {
    padding-left: 15px;
  }

  .elio-react-components.Template__SidePanel .Sidepanel__option__icon {
    width: 20px;
    height: 20px;
  }

  .elio-react-components.Template__SidePanel .Sidepanel__version {
    display: none;
  }
}