.elio-react-components.Table {
  overflow-x: auto;
}

.elio-react-components.Table.autoY {
  height: 100%;
  max-height: 100%;
  max-height: 100dvh;
  overflow-y: auto;
}

.elio-react-components.Table.autoY thead th {
  position: sticky;
  top: 0;
  z-index: 2;
  /* Make sure it's above tbody */
  background-color: #f2f2f2;
  /* Must define a background */
}

.elio-react-components.Table.borders thead th,
.elio-react-components.Table.borders tbody td {
  border: 1px solid black;
}

.elio-react-components.Table::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
.elio-react-components.Table::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.elio-react-components.Table::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.elio-react-components.Table::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.elio-react-components.Table table {
  border-collapse: collapse;
  width: 100%;
}


.elio-react-components.Table tr {}

.elio-react-components.Table.striped tr:nth-child(even) {
  background-color: #D9D9D9;
}

.elio-react-components.Table.striped td:not(:first-child) {
  border-left: 1px solid #d9d9d988;
}

.elio-react-components.Table tr:hover {
  background-color: #ddd;
}



.elio-react-components.Table th,
.elio-react-components.Table td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.elio-react-components.Table.compact th,
.elio-react-components.Table.compact td {
  /* border: 1px solid #ddd; */
  padding: 2px;
  font-size: small;
}

.elio-react-components.Table.compact th:first-child,
.elio-react-components.Table.compact td:first-child {
  padding-left: 8px;
}

/* .elio-react-components.Table th span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;

} */

.elio-react-components.Table th {

  background-color: #f2f2f2;

  border-bottom: 1px solid black;

  /* NO TEXT SELECTION */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.elio-react-components.Table tbody {
  background-color: white;
}

.elio-react-components.Table .Table__header.resize {
  cursor: ew-resize;

}

.elio-react-components.Table .Table__data__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.elio-react-components.Table .Table__data__actions button {
  width: 20px;
  height: 20px;
  padding: 0;
  background: none;
}

.elio-react-components.Table .Table__data__actions button>* {
  width: 20px;
  height: 20px;
}



.elio-react-components.Table .sortingIco {
  width: 10px;
  height: 10px;
}

.elio-react-components.Table .Table__header__container {

  width: 100%;
  height: 100%;

  display: flex;
  gap: 5px;
  align-items: center;
}