.elio-react-components.Navbar {
  display: flex;
  justify-content: center;

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3000;

  --navbar-height: 150px;

  font-family: Gobold;
  backdrop-filter: blur(5px);
  background-color: #FFF8;
  color: black;



  /* ANIMATION SHRINK */
  animation: adjust-navbar linear forwards;
  animation-timeline: scroll();

  animation-range: 0px 500px;
}

@keyframes adjust-navbar {
  0% {
    height: 120px;
  }

  100% {
    height: 90px;
  }
}

.elio-react-components.Navbar a {
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
}

.elio-react-components.Navbar a:hover {
  color: black;
  text-decoration: underline;
}


.elio-react-components.Navbar img {
  max-height: 100%;
}


.elio-react-components.Navbar .Navbar__wrapper {
  height: 100%;
  width: 100%;
  max-width: var(--max-width);

  padding: .6rem;

  display: flex;
  gap: .6rem;
  align-items: center;

}


.elio-react-components.Navbar .landscapeLinks {
  display: flex;
  gap: 1.5rem;
}

.elio-react-components.Navbar .Navbar__content {
  height: 100%;
  padding: 5px 15px;
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.elio-react-components.Navbar .Navbar__content>* {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


























/* NAVBAR PHONE MENU */

.elio-react-components.Navbar__drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 8, 8, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2999;
  pointer-events: none;

  backdrop-filter: blur(5px);
}

.elio-react-components.Navbar__drop.open {
  opacity: 1;
  pointer-events: auto;
}

.elio-react-components.Navbar.open img.logo {
  filter: invert();
}

.elio-react-components.Navbar.open .menu-btn_burger::before,
.elio-react-components.Navbar.open .menu-btn_burger::after,
.elio-react-components.Navbar.open .menu-btn_burger {
  background-color: white;
}

.elio-react-components.Navbar__drop__wrapper {
  width: 100%;
  position: absolute;
  top: 100%;
  padding: .6rem;
  padding-top: 0;
  z-index: 3000;
}

.elio-react-components.Navbar__drop__content {
  border-radius: 5px;
  width: 100%;
  padding-left: .6rem;
  padding-right: .6rem;

  display: flex;
  flex-direction: column;

  opacity: 1;
  transition: opacity .3s ease;
}

.elio-react-components.Navbar__drop__content a,
.elio-react-components.Navbar__drop__content a:hover {
  color: white;
}

.elio-react-components.Navbar__drop__content:not(.open) {
  opacity: 0;
  display: none;
}

.elio-react-components.Navbar__drop__content>a {
  font-size: 32px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}

.elio-react-components.Navbar__drop__content>a:not(:last-child) {
  border-bottom: 1px solid white;
}

/* RESPONSIVE */

.elio-react-components.Navbar__drop__wrapper,
.elio-react-components.Navbar__button,
.elio-react-components.Navbar__drop {
  display: none;
}

@media (max-width: 768px) {

  .elio-react-components.Navbar__drop__wrapper,
  .elio-react-components.Navbar__button,
  .elio-react-components.Navbar__drop {
    display: block;
  }

  .elio-react-components.Navbar .hideOnPhone {
    display: none;
  }
}


@media (min-width: 768px) {
  .elio-react-components.Navbar.open img.logo {
    filter: none;
  }

}