*,
*::after,
*::before {
  box-sizing: border-box;
  min-height: 0px;
  min-width: 0px;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #333;
  background-color: #f1f1f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /*Fonts*/

  --text-font: "Montserrat", sans-serif;
  --title-font: "Korataki Normal", sans-serif;
  --title-font-light: "Korataki Light", sans-serif;
  --title-font-extralight: "Korataki Book", sans-serif;
  --title-font-book: "Korataki Book", sans-serif;
  --title-font-bold: "Korataki Bold", sans-serif;

  /* Colores */
  --primary: #333333;
  --primary-text: #ffffff;

  --darker: #212121;
  --black: #161616;
  --gray: #333333;
  --black-light: #4d4d4d;
  --white: #f9f9f9;
  --white-transparent: #f9f9f9e6;
  --white-background-button: #f9f9f91A;
  --red-light: #e93636a1;
  --red: #cc0000;
  --green: #4CD984;
  --orange: #FFAB49;
  --pink: #E72584;
  --blue: #6692DB;
  --purple: #AE6BCC;


  --admin-color: #0066cc;




  --max-width: 1400px;
}

input {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

a {
  font-weight: 500;
  color: #333;
  text-decoration: inherit;
  cursor: pointer;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

p {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 40px;
  line-height: 1.1;
}

h2 {
  font-size: 35px;
}

h4 {
  font-size: 24px;
}

button {
  border: 0;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #fafafa;
  cursor: pointer;
  transition: border-color 0.25s;
  color: #1a1a1a;



}

.button--red,
.button {
  padding: 0.6em 1.2em;
  background-color: black;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.209);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12); */
  border-radius: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color .2s ease, color .2s ease;
  /* width: 100%; */
}

.button:hover {
  background-color: white;
  color: black;
}

.button.red,
.button--red {
  background: #a00;
  border-color: #a00;
  color: white
}
.admin .button,
.button.admin {
  background-color: var(--admin-color) !important;
  border-color: var(--admin-color) !important;
  color: white !important;
}
.superAdmin .button,
.button.superAdmin {
  background-color: #44BB55 !important;
}

button.red.lite{
  background: white;
  border-color: #a00;
  color: #a00
}

.button.green {
  background-color: #0a0;
  color: white;
  border-color: #0a0;
}

.button.red:hover,
.button--red:hover {
  background-color: #E77;
  color: #fff;
}

.button.disabled .button:disabled,
.button[disabled],
.button.muted {
  background-color: white;
  color: black;
}

.button.disabled .button:disabled,
.button[disabled] {
  cursor: not-allowed;
  color: #999;
}

.button>img {
  filter: invert(100%);
  transition: all .2s ease;
  width: 25px;
  height: 25px;
}

.button:hover>img {
  filter: invert(0%);
}


@media (max-width: 768px) {
  .button {
    padding: .3rem .6rem;
    font-size: 14px;
  }
}


ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.container {
  /* max-width: var(--max-width); */
  width: 100%;

  border: 1px solid rgba(0, 0, 0, 0.209);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 5px;

  transition: box-shadow .2s ease;
  box-sizing: border-box;
  overflow: hidden;
}

.container:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.22);

}

.spinner.small {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid white;
  border-top: 3px solid transparent !important;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


.spinner {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid white;
  border-top: 3px solid transparent !important;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.button:hover .spinner,
.button.disabled .spinner,
.button[disabled] .spinner,
.button.muted .spinner,
.spinner.black,
.spinner--small.black,
.spinner.black {
  border-color: black;
}


input[type=text],
input[type=password],
input[type=number] {
  border: 0;
  outline: none;
}



/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}







@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}









@media (max-width: 768px) {
  h1{
    font-size: 32px;
  }
  h2{
    font-size: 28px; 
  }
  h3{
    font-size: 24px; 
  }
  h4{
    font-size: 20px; 
  }
  h5{
    font-size: 18px; 
  }
  h6{
    font-size: 16px; 
  }
}










.elio-react-components.InputSelect.button {

  width: auto;

  span{
    font-size: 16px;
  }
  .InputSelect__container{
    background: none;
    border: none !important;
  }

  img.InputSelect__dropdown{
    transition: filter .5s ease, transform .5s ease;
    width: 20px;
    height: auto;
  }
}

.elio-react-components.InputSelect.button:not(:hover){
  img.InputSelect__dropdown{
    filter: invert(100%) brightness(109%) contrast(104%);  }
}

@media (max-width: 768px) {
  .elio-react-components.InputSelect.button .InputSelect__selected{
    padding: 0;
  }
  .elio-react-components.InputSelect.button {
    span{
      font-size: 14px;
    }
    img.InputSelect__dropdown{
      width: 16px;
    }
  }
}




.active-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(255, 73, 73);
}

.active-indicator[data-value="true"] {
  background-color: #09d109;
}

.elio-react-components.Table td:has(.active-indicator) {
  display: flex;
  align-items: center;
  justify-content: center;
}